body {
  padding-top: 10px;
}

.border-column{
  border-right: 1px solid gainsboro;
}

.search-form{
  margin-top: 30px;
}

.profile{
  width: 50px;
  height: 50px;
}

.contact-item{
  border: 1px solid gainsboro;
  padding: 12px;
}

.contact-list{
  margin-top: 20px;
}

.name {
  font-size: 20px;
}

.phone_number {
  font-size: 14px;
}